<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="always">
    <title>Smerity.com: PJAX and Flask</title>
    
<link rel="shortcut icon" href="/media/images/favicon.ico">

    
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="/media/js/html5.js"></script>
<![endif]-->


<link rel="stylesheet" type="text/css" href="/media/compiled_less/bootstrap.css">

<link rel="stylesheet" type="text/css" href="/media/css/pygments.css">

    
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script src="/media/bootstrap/js/bootstrap.js"></script>

    
    
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-470775-5']);
  _gaq.push(['_trackPageview']);
  setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])",15000);
  setTimeout("_gaq.push(['_trackEvent', '30_seconds', 'read'])",30000);
  setTimeout("_gaq.push(['_trackEvent', '60_seconds', 'read'])",60000);
  setTimeout("_gaq.push(['_trackEvent', '120_seconds', 'read'])",120000);
  setTimeout("_gaq.push(['_trackEvent', '240_seconds', 'read'])",240000);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
  <body>
  


  
  
<div class="hero-box">
  <div class="hero-inner min-padded">
    <a href="/">
      <h3 class="highlight pull-left">&laquo; Smerity.com</h3>
    </a>
    <h3 class="contact-me pull-right">
      <!-- All on one line seems crazy but it prevents small form factors trying to fit them over multiple lines -->
      <a href="https://www.twitter.com/Smerity/" alt="Twitter"><i class="icon-twitter"></i></a><a href="https://facebook.com/smerity" alt="Facebook"><i class="icon-facebook-sign"></i></a><a href="https://github.com/Smerity/" alt="GitHub"><i class="icon-github"></i></a><a href="http://au.linkedin.com/in/smerity" alt="LinkedIn"><i class="icon-linkedin"></i></a><a href="mailto:smerity@smerity.com" alt="Email"><i class="icon-envelope-alt"></i></a>
    </h3>
  </div>
</div>

  <div class="container">
    
      <div class="row">
      <div class="span8 content-box">
      
<h1 class="post-title">PJAX and Flask</h1>
<h3 class="post-date">February 19, 2012</h3>
  <p><strong>
Recently <em>37signals</em> wrote about <a href="http://37signals.com/svn/posts/3112-how-basecamp-next-got-to-be-so-damn-fast-without-using-much-client-side-ui">improving the speed, both real and perceived, of their web application Basecamp Next</a>.
Of the techniques discussed, they primarily focused around PJAX, extreme caching (<a href="http://www.quickmeme.com/meme/504s/">cache all the things!</a>) and infinite scrolling.<br />
Here I'll focus just on PJAX, but the rest of the article is certainly worth reading!</strong></p>
<h2>Assuming I know what AJAX is, WTH is PJAX?</h2>
<p>AJAX is commonly used to dynamically reload contents on a page without having to reload the page fully.
Without a full page reload the client side experience is substantially improved: smoother, faster and less data shuffled back and forth.
Unfortunately AJAX can add unwanted complexity to the codebase and doesn't degrade well for users with no Javascript.</p>
<p><a href="https://github.com/defunkt/jquery-pjax">PJAX</a> provides a number of advantages without complicating the code substantially:</p>
<ul>
<li>Positive impact on the user experience (no full page reload, similar to AJAX)</li>
<li>Degrades cleanly when Javascript is disabled</li>
<li>Doesn't confuse / hide the user's interaction with the site from Google Analytics</li>
<li>Page titles and the back button work as expected
<!--+ Minimal additional code complexity--></li>
</ul>
<p>Although all these benefits come into play, the main one to consider is simply this: <em>transmitting and redrawing a page fully when there are shared elements is a waste</em>.</p>
<h2>Simple PJAX Example</h2>
<p>Imagine a fairly standard webpage layout which involves a main piece of content surrounded by a header and footer.</p>
<div class="codehilite"><pre>  <span class="nt">&lt;html&gt;</span>
    <span class="nt">&lt;head&gt;</span>
      <span class="nt">&lt;title&gt;</span>...<span class="nt">&lt;/title&gt;</span>
      <span class="nt">&lt;script&gt;</span><span class="p">...</span><span class="nx">JS</span> <span class="nx">that</span> <span class="nx">is</span> <span class="nx">reloaded</span> <span class="nx">and</span> <span class="nx">reconsidered</span> <span class="nx">each</span> <span class="nx">time</span><span class="p">...</span><span class="nt">&lt;/script&gt;</span>
      <span class="nt">&lt;style&gt;</span><span class="o">..</span><span class="nc">.Style</span> <span class="nt">that</span> <span class="nt">is</span> <span class="nt">reloaded</span> <span class="nt">and</span> <span class="nt">reconsidered</span> <span class="nt">each</span> <span class="nt">time</span><span class="o">...</span><span class="nt">&lt;/style&gt;</span>
    <span class="nt">&lt;/head&gt;</span>

    <span class="nt">&lt;body&gt;</span>
      <span class="nt">&lt;header&gt;</span>...<span class="nt">&lt;/header&gt;</span>

      <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;main-content&quot;</span><span class="nt">&gt;</span>
      <span class="nt">&lt;/div&gt;</span>

      <span class="nt">&lt;footer&gt;</span>..<span class="nt">&lt;/footer&gt;</span>
    <span class="nt">&lt;/body&gt;</span>
  <span class="nt">&lt;/html&gt;</span>
</pre></div>


<p>Everything before and after <strong>#main-content</strong> other than the title, is a waste (assuming the Javascript and CSS styles are shared between pages).
When PJAX requests a page, all it needs to receive is a subset of above, the title and the contents of a one element you want replaced, in this case, <strong>#main-content</strong>.</p>
<div class="codehilite"><pre>  <span class="nt">&lt;title&gt;</span>...<span class="nt">&lt;/title&gt;</span>
  <span class="c">&lt;!-- contents of #main-content --&gt;</span>
</pre></div>


<p>For more details, I recommend reading the <a href="https://github.com/defunkt/jquery-pjax">brief README</a> at PJAX's Github repository.</p>
<h2>Using PJAX in Flask</h2>
<p>Whenever PJAX makes a request to the webserver it sets a specific header to true: <strong>X-PJAX</strong>.
Flask's default template engine, Jinja2, is already supplied with contextual information about the headers through the <em>request</em> object, so we can simply use that to modify the template.</p>
<p>Note that when <strong>X-PJAX</strong> is not set in the headers, Flask/Jinja2 degrade to rendering and returning the full webpage.</p>
<div class="codehilite"><pre>  {% if &quot;X-PJAX&quot; not in request.headers %}
  <span class="cp">&lt;!DOCTYPE html&gt;</span>
  <span class="nt">&lt;html</span> <span class="na">lang=</span><span class="s">&quot;en&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;head&gt;</span>
      <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">&quot;utf-8&quot;</span><span class="nt">&gt;</span>
  {% endif %}

      <span class="nt">&lt;title&gt;</span>{% block title %}{% endblock %}<span class="nt">&lt;/title&gt;</span>

  {% if &quot;X-PJAX&quot; not in request.headers %}
      {% block head %}{% endblock %}
      {% block css %}{% endblock %}
      {% block js %}{% endblock %}
    <span class="nt">&lt;/head&gt;</span>
    {% block body %}
    <span class="nt">&lt;body&gt;</span>
      {% block header %}
      <span class="nt">&lt;header&gt;</span>...<span class="nt">&lt;/header&gt;</span>
      {% endblock %}
      <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;main-content&quot;</span><span class="nt">&gt;</span>
  {% endif %}

      {% block content %}
      {% endblock %}

  {% if &quot;X-PJAX&quot; not in request.headers %}
      <span class="nt">&lt;/div&gt;</span>
      {% block footer %}
      <span class="nt">&lt;footer&gt;</span>...<span class="nt">&lt;/footer&gt;</span>
      {% endblock %}
    <span class="nt">&lt;/body&gt;</span>
  <span class="nt">&lt;/html&gt;</span>
  {% endif %}
</pre></div>


<p>If you use this as a base template (<strong>_base.html</strong> or similar), all the pages that can benefit from PJAX will.
Best of all, next to zero programmer attention is required!</p>

      </div>
      
        <div class="span3 side-box">
          <div style="padding: 8px;">
            <h1 style="margin-bottom: 0; text-align: center;">Popular Articles</h1>
            <style>
            ul.unstyled li { padding-bottom: 6px; }
            </style>
            <ul class="crossed">
              <li><a href="/articles/2013/where_did_all_the_http_referrers_go.html">Where did all the HTTP referrers go? (2013)</a></li>
              <li><a href="/articles/2013/animated_gif.html">The Mystery of the Spotty Animated GIF (2013)</a></li>
              <li><a href="/articles/2010/noogler2010.html">Google Internship Reflection (2010)</a></li>
            </ul>
            <h1 style="margin-bottom: 0; text-align: center;">Hi, I'm Smerity</h1>
            <div align="center">
              <img class="shadowed pronounced" src="/media/images/smerity_bw.jpg" />
            </div>
            <!-- TODO: Place Twitter here -->
            <p>
              I'm <b>Stephen Merity</b>, better known in most places as <b>Smerity</b>.
            </p>
            <p>
              <b>Sydney University:</b><br />
              <a href="http://sydney.edu.au/handbooks/engineering/undergraduate/schools/it/b_it.shtml">BIT</a> (University Medal + First Class Honours)
            </p>
            <p>
              <b>Harvard University:</b><br />
              <a href="http://iacs.seas.harvard.edu/master-of-science-in-cse">MS in CSE</a> (starting August 2013)
            </p>
            <p>
              <b><a href="/abme.html">Read more about me</a></b>
            </p>
            <p>
              <b>Interested in saying hi?</b><br />
              <div class="contact-me">
              <a href="https://www.twitter.com/Smerity/" alt="Twitter"><i class="icon-twitter"></i></a>
              <a href="https://facebook.com/smerity" alt="Facebook"><i class="icon-facebook-sign"></i></a>
              <a href="https://github.com/Smerity/" alt="GitHub"><i class="icon-github"></i></a>
              <a href="http://au.linkedin.com/in/smerity" alt="LinkedIn"><i class="icon-linkedin"></i></a>
              <a href="mailto:smerity@smerity.com" alt="Email"><i class="icon-envelope-alt"></i></a>
              </div>
            </p>

            
          </div>
        </div>
      
      </div>
    
    
<footer>
  You reached the bottom! Reading can be challenging, so I think you deserve a reward. I'd offer you <a href="http://www.minecraftwiki.net/wiki/Cake">cake</a>, but after <a href="http://en.wikipedia.org/wiki/Portal_(video_game)">a certain robot-human conflict</a> started due to cake it may not be a wise choice. So here:
  <div align="center">
    <img src="/media/images/mini_coin.png" height="32" width="32" />
  </div>
  Take a coin. No, not a Bitcoin. Do you know how expensive those are? ಠ_ಠ
</footer>

  </div>
  
  
<link rel="stylesheet" type="text/css" href="/media/css/fontawesome/fontawesome.css" />
<!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="/media/css/fontawesome/fontawesome-ie7.css" />
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,700' rel='stylesheet' type='text/css'>

  
  </body>
</html>